@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');

body, html {

  font-family: 'Archivo Narrow', sans-serif;
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 1.5;
  
}
button{
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-right: 2rem;
}



.error-styling{
  border-color: red;

}

.parallax{
  width: 100%;
  padding-bottom: 3rem;
}

.carousel{
  width: 100%;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}
h1{

  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  
}
h2{
  font-size: 2rem;
  font-weight: 400;
}

h3{
  font-size: 2rem;
  font-weight: 900;
}
.card-title.h5{
  font-size: 1.2rem;
  font-weight: 900;
} 
*, ::after, ::before {
  box-sizing: inherit;
}

.img-responsive {
  display: block;
  height: auto;
  width: 100%;

}

.card-body, .card .card-footer, .card .card-header {
  padding: .8rem;
  padding-bottom: .8rem;
  width: 100%;

}

.class-body{
  padding-top: 10px;
  padding-left: 10px;
}
.column{
  padding-bottom: 2.4rem;
}
.card{
  border: 0;
  box-shadow: 0 .5rem 1rem 
  rgba(63, 51, 51, 0.15);
  height: 100%;
  background: 
  rgb(235, 235, 235);
  display: flex;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  padding-top: 16px;
  padding-bottom: 20px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.card:hover{
  opacity: 100%;
  border: 1;
  box-shadow: 0 .5rem 1rem;
  
}

.form-checkbox input:checked + .form-icon, .form-radio input:checked + .form-icon, .form-switch input:checked + .form-icon {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  border-radius: .3rem;
  border-style: hidden;
  opacity: 70%;
}

.form-checkbox input:indeterminate + .form-icon {
  background:grey;
  border-radius: .3rem;
  border-style: hidden;
}
.form-checkbox:hover {
  opacity: 100%;
}


.form-checkbox .form-icon, .form-radio .form-icon{
  height: 2.8rem;
  left: -3px;
  top: 2.3rem;
  width: 18.8rem;

  background:grey;
  border-radius: .3rem;
  border-style: hidden;
  


}

.form-checkbox, .form-radio, .form-switch{
  display: block;
  line-height: 1.2rem;
  margin: .2rem 0;
  min-height: 1.4rem;
  padding: 5.1rem 1.4rem 0.1rem 8.2rem;
  position: relative;
}

.fab.fa-spotify{
  color: rgb(36, 224, 102);
  font-size: 60px;
  text-align: center;
  margin: 10px 30px 0 53px;

}

.fab.fa-spotify:hover{
  color: rgb(45, 199, 99);
  font-size: 60px;
  text-align: center;
  margin: 10px 30px 0 53px;
}

.fab.fa-amazon{
  color: rgb(155, 155, 155);
  font-size: 60px;
  text-align: center;
  margin: 10px 30px 0 100px;
  
}

.fab.fa-amazon:hover{
  color: black;
  font-size: 60px;
  text-align: center;
  margin: 10px 30px 0 100px;
  
}

.heart-customs{
  font-size: 50px;
  color: red;
}

.error-message {
  display: none;
  color: red;
  text-align: center;
}


.show {
  display: block;
}

.hearts {
  display: none;
}

.heart-label {
  color: grey;
  float: right;
  font-size: 2rem;
  padding-right: 1rem;

  
}

.hearts:checked ~ .heart-label {
  color: rgb(255,215,0);
  
  
}

.hearts:checked + .heart-label {
  color: rgb(255,215,0);
  
  
}